<head>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <section class="form_container">
        <h1>Edit Trip</h1>
    
        <form action="/destinations/<%= destination.id%>" method="post">
            <input type="hidden" name="_method" value="put">
            
            <div class="form-group">
                <label>Destination:</label>
                <input type="text" name="name" value="<%=destination.name%>">
            </div>
            <div class="form-group">
                <label>Image url:</label>
                <input type="text" name="image" value="<%=destination.imageurl%>">
            </div>
            <div class="form-group">
                <label>Target visit date <strong>(PLEASE KEY IN DATE)</strong>:</label>
                <input type="date" name="targetDate" value="<%=destination.targetVisitDate%>">
            </div>
            <div class="form-group">
                <label>Duration:</label>
                <input type="number" name="duration" value="<%=destination.duration%>">
            </div>
            <div class="form-group">
                <label>Travel Partner:</label>
                <select name="partner">
                    <option value="Family">Family</option>
                    <option value="Solo">Solo</option>
                    <option value="Partner">Partner</option>
                    <option value="Friends">Friends</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="form-group">
                <label>Budget:</label>
                <input type="number" name="budget" value="<%=destination.budget%>">
            </div>
            <div class="form-group">
                <label>Travel highlights:</label>
                <textarea name="note" cols="30" rows="8"><%=destination.note%></textarea>
            </div>

            <div class="btn-container">
                <button>Save</button>
                <a href="/destinations/<%= destination.id%>" class="btn-back">Back</a>
            </div>

    </section>
</body>